/**
* ! chnging default styles of the browser
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 223, 168);
}

/**
* ! Navbar Styles are here
**/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
}

.cartA {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

/**
* ! Shop items styles are here
**/

.shopI {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 40px;
  justify-content: center;
  /* display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-content: space-evenly; */
}

@media (max-width: 1000px) {
  .shopI {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shopI {
    grid-template-columns: repeat(1, 223px);
  }
}

.items {
  border: 2px solid #212529;
  border-radius: 4px;
  background-color: rgb(230, 223, 168);
  color: #fff;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.buttonI {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  width: 100%;
  background-color: burlywood;
  justify-content: center;
}

img {
  width: 2220x;
  height: 250px;
}

.cart-items {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}

.btnB {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-top: 150px;
}
#yoav2 {
  position: fixed;
  z-index: 4;
  left: 100px;
  content: 20px;
  font-size: 15px;
}

.footer {
  height: 65px;
  background-color: rgb(198, 222, 243);
  text-align: center;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 7px;
}
#box1 {
  border-radius: 4px;
  padding: 5px;
  flex 1 ;
  border: 1px solid black;
}
#box2 {
  border-radius: 4px;
  padding: 5px;
  flex 2 ;
  border: 1px solid black;
}
#box3 {
  border-radius: 4px;
  padding: 5px;
  flex 3 ;
  border: 1px solid black;
}
.title {
  color: #000;
}
.price {
  color: #000;
}
